<article class="articleborder">
  <form>
    <p><h3>WHERE</h3>
    <div class = "criteria-group">
      <p>
        <label for="searchCriteria">Search Criteria</label>
        <textarea [rows] = "2" [cols]="50" class="criteria"  type="text" id="searchCriteria" name="searchCriteria" [(ngModel)]="localSelectionCriteria"></textarea>
      </p>
    </div>
    <div class = "criteria-group">
      <p>
        <label for="orderBy">Order By</label>
        <textarea [rows] = "1" [cols]="50" class="criteria"  type="text" id="orderBy" name="orderBy" [(ngModel)]="localOrderByCriteria"></textarea>
      </p>
    </div>

    <div>
    </div>
      <div class = "input-group" >
        <p>
          <label for="searchField">Search Field</label>
          <select name="searchField" id="searchField" [(ngModel)]="searchField">
            @for (item of searchColumns; track item.columnName) {
              <option  value="{{item.columnName}}">{{ item.label }}</option>
            }
          </select>
        </p>

        <p>
          <label for="searchOperator">Operator</label>
          <select name="searchOperator" id="searchOperator" [(ngModel)]="searchOperator">
            @for (item of searchOperatorListItems(); track item.value) {
              <option  value="{{item.value}}">{{ item.label }}</option>
            }
          </select>
        </p>

          @if (searchCodes()) {
            <p>
            <select name="searchCode" id="searchCode" [(ngModel)]="searchValue">
              @for (item of searchCodes(); track item.code) {
                <option  value="{{item.code}}">{{ item.label }}</option>
              }
            </select>
            </p>
          } @else {
            <p>
            <label for="searchValue">Search Value</label>
            <input  type="text" id="searchValue" name="searchValue" [(ngModel)]="searchValue"/>
            <button class="addbutton"  (click)="onAddExpression()" type="button">Add Expression</button>
            </p>
          }
      </div>
      <div class = "input-group" >
        <p>
          <button class="searchbutton" (click)="onAddOpenBracket()" type="button">(</button>
        </p>
        <p>
          <button class="searchbutton" (click)="onAddCloseBracket()" type="button">)</button>
        </p>
        <p>
          <button class="searchbutton" (click)="onAddAnd()" type="button">AND</button>
        </p>
      </div>
       <p class="actions">
         <button class="button" (click)="onReset()" type="button">Reset</button>
         <button class="button" (click)="onClose()" type="button">Update</button>
       </p>
       <label for="searchLimit">Limit</label>
       <input  type="number" id="searchLimit" name="searchLimit" [(ngModel)]="localSearchLimit"/>
  </form>

</article>
